BiosLogistica/sitioBiosLogistica/App_WebReferences/wcfLogistica/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:7379/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" />
  <xs:element name="AltaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usuario" nillable="true" type="q1:Usuario" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q2:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usuario" nillable="true" type="q3:Usuario" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q4:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logueo" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q5:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarUsuarioResult" nillable="true" type="q6:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logueo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseana" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogueoUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="LogueoUsuarioResult" nillable="true" type="q7:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usuario" nillable="true" type="q8:Usuario" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q9:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarContrasenaUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usuario" nillable="true" type="q10:Usuario" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q11:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarContrasenaUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usuarioLogueado" nillable="true" type="q12:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarEmpresasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListarEmpresasResult" nillable="true" type="q13:ArrayOfEmpresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="paquete" nillable="true" type="q14:Paquete" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q15:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaPaqueteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPaquete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q16:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarPaqueteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="BuscarPaqueteResult" nillable="true" type="q17:Paquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoPaquetesSinSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q18:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListadoPaquetesSinSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="ListadoPaquetesSinSolicitudResult" nillable="true" type="q19:ArrayOfPaquete" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="solicitud" nillable="true" type="q20:Solicitud" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q21:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaSolicitudResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AltaSolicitudResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstadoSolicitud">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="solicitud" nillable="true" type="q22:Solicitud" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q23:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarEstadoSolicitudResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitudesEnCamino">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitudesEnCaminoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="listadoSolicitudesEnCaminoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitudesEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q24:Empresa" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitudesEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="listadoSolicitudesEmpresaResult" nillable="true" type="q25:ArrayOfSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitudes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="usLog" nillable="true" type="q26:Empleado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listadoSolicitudesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EntidadesCompartidas" minOccurs="0" name="listadoSolicitudesResult" nillable="true" type="q27:ArrayOfSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>